* {
  box-sizing: border-box;
}

body
{
    padding-top: 70px;
    background-color:#000;
    height: 100%;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}

.navbar-inverse {
  background-color:#000;
  color:#ffffff;
  border-radius:0;
  background-repeat: none;
  background-image: none;
  border-bottom: none;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

@media (max-width:330px ) {
  h1.title{font-size: 20px;}
}

@media (max-width:780px ) {
  h1.title{font-size: 30px;}
}

.centered {
  text-align:center
}

.dark-background {
  background-color: #2e2e2e
}